// @use "../components/step-numbers";
@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

#instructions {
  padding: 0 var.$layout-outer-padding;
  margin-bottom: 20px;
  & h2 {
    font-size: var.$headline2-size;
    font-weight: 500;
  }
}

#steps-list {
  padding-left: 12px;
  counter-reset: steps-counter;
}

.step {
  position: relative;
  width: 100%;
  display: flex;
  counter-increment: steps-counter;
  &__card {
    @include mix.step-card;
  }
  &__text {
    justify-content: start;
    font-size: 1.1rem;
    font-weight: 500;
    color: #444;
    &-icon {
      @include mix.step-card-icon;
    }
  }
  &::before {
    content: counter(steps-counter);
    height: 24px;
    width: 24px;
    position: absolute;
    left: -12px;
    top: 28px;
    border-radius: 50%;
    background-color: var.$color-primary;
    color: white;
    line-height: 1.5;
    z-index: 1;
  }
}

@media only screen and (min-width: 768px) {
  #instructions {
    padding: 0 64px;
    & h2 {
      font-size: var.$headline2-size-tablet;
    }
  }

  .step__text {
    font-size: 1.4rem;
  }
}
