* {
  text-align: center;
  font-family: "Roboto";
}

h2, footer * {
  text-align: start;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 20px 0;
  box-shadow: 0px 3px 10px grey;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 2em;
  }
}
.omf-buttons {
  height: 50px;
  width: 17em;
  margin: 1.2em 0;
  padding: 0 15px;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  border: none;
  filter: drop-shadow(0px 4px 5px #aaa);
}
.omf-buttons:hover {
  background: linear-gradient(to right bottom, #ff83dd, #9b63df);
  filter: drop-shadow(0px 4px 5px #888);
}

@media only screen and (min-width: 768px) {
  .omf-buttons {
    transform: scale(1.4);
  }
}
#call-to-action {
  margin-bottom: 2.5em;
  padding: 1.1em 1em;
  padding-bottom: 1.4em;
  background-color: rgb(245, 245, 245);
}
#call-to-action h2 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}
#call-to-action p {
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  #call-to-action {
    padding: 4em;
    padding-bottom: 3em;
  }
  #call-to-action h2 {
    font-size: 1.8rem;
  }
  #call-to-action p {
    font-size: 1.5rem;
  }
}
.step__number {
  height: 24px;
  width: 24px;
  position: relative;
  left: -12px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  line-height: 1.5;
}

#instructions {
  padding: 0 1em;
  margin-bottom: 20px;
}
#instructions h2 {
  font-size: 1.8em;
  font-weight: 500;
}

#steps-list {
  padding-left: 10px;
}

.step {
  width: 100%;
  display: flex;
}
.step__card {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  align-items: center;
  filter: drop-shadow(0px 4px 5px #ddd);
}
.step__card--alt {
  background-color: #f7e4f2;
}
.step__card--alt .step__text-icon {
  color: #9356DC;
}
.step__text {
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 500;
  color: #444;
}
.step__text-icon {
  width: 60px;
  padding-right: 12px;
  font-size: 1.6em;
  color: grey;
}

@media only screen and (min-width: 768px) {
  #instructions {
    padding: 0 64px;
  }
  #instructions h2 {
    font-size: 2.5rem;
  }
  .step__text {
    font-size: 1.4rem;
  }
}
#restaurants h2 {
  font-size: 1.8em;
}

.restaurants__card {
  position: relative;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 5px #ddd);
}
.restaurants__card img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__info {
  display: flex;
  padding: 1em;
  line-height: 1.5;
}
.restaurants__info .restaurants__description {
  width: 90%;
  font-size: 1.1em;
}
.restaurants__info .restaurants__description .title {
  margin: 0;
  text-align: left;
}
.restaurants__info .restaurants__description .subtitle {
  text-align: left;
}
.restaurants__info .favorites {
  position: relative;
  width: 10%;
  height: 100%;
  font-size: 1.8em;
  line-height: 0;
  padding: 10px 0;
  z-index: 10;
}
.restaurants__info .favorites .heart-outline {
  position: relative;
  color: black;
  transition: 150ms ease-out;
}
.restaurants__info .favorites .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 150ms ease-out;
}
.restaurants__info .favorites i:hover {
  transform: scale(0.98);
  color: #FF79DA;
}
.restaurants__info .favorites i:hover .heart-full {
  transform: scale(1);
  display: inline;
  color: #FF79DA;
}
.restaurants__new-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #449e88;
  font-size: 0.9em;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .restaurants__description .title {
    font-size: 1.6rem;
  }
  .restaurants__description .subtitle {
    font-size: 1.35rem;
  }
  .restaurants__info .favorites {
    font-size: 2.5em;
  }
  .restaurants__new-tag {
    font-size: 1.2rem;
  }
}
#restaurants {
  padding: 1em;
  background-color: rgb(245, 245, 245);
}
#restaurants h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  #restaurants {
    padding: 4em;
  }
  #restaurants h2 {
    font-size: 2.5rem;
  }
}
footer {
  padding: 1em;
  background-color: #444;
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
}
footer li {
  line-height: 1.8em;
  font-weight: 500;
}
footer li .icon {
  display: inline-block;
  width: 1.5em;
}
footer a {
  color: white;
}

@media only screen and (min-width: 768px) {
  footer h3 {
    font-size: 1.8rem;
  }
  footer li {
    font-size: 1.4rem;
  }
}
#location {
  padding: 20px 0;
  background-color: rgb(235, 235, 235);
}
#location i {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  #location {
    font-size: 1.5rem;
  }
}
#logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo a {
  position: absolute;
  right: 90%;
  font-size: 1.5em;
  color: #777;
}
#logo img {
  width: 40%;
  max-width: 17em;
}

#banner {
  width: 100%;
  max-height: 20em;
  object-fit: cover;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background-color: rgb(185, 192, 185);
  color: white;
  font-size: 1.8em;
  width: 20%;
  transition: left 0.3s ease-out;
}
.checkbox-container i {
  transform: rotate(0deg);
  transition: 0.3s ease-out;
}

.menu__cards {
  position: relative;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 5px #ddd);
  margin-bottom: 1.2em;
  padding: 0 1em;
  opacity: 0;
  animation: show-meals 1s ease-in-out forwards;
  overflow: hidden;
}
@keyframes show-meals {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu__cards:nth-child(1n) {
  animation-delay: 0.25s;
}
.menu__cards:nth-child(2n) {
  animation-delay: 0.5s;
}
.menu__cards:nth-child(3n) {
  animation-delay: 0.75s;
}
.menu__cards:nth-child(4n) {
  animation-delay: 1s;
}
.menu__cards:nth-child(5n) {
  animation-delay: 1.25s;
}
.menu__cards .description {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: last baseline;
  padding: 0.6em 0;
  width: 100%;
  transition: 0.3s ease-out;
  line-height: 1.8;
}
.menu__cards .description:first-child * {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cards .description h3 {
  font-size: 1.2em;
  margin: 0;
}
.menu__cards .description span {
  font-weight: 400;
  font-size: 1.1em;
}
.menu__cards .description .price {
  width: 10%;
  margin-left: 0.8em;
  font-size: 1.1em;
  overflow: initial;
}
.menu__cards:hover .description {
  width: 80%;
}
.menu__cards:hover .checkbox-container {
  left: 80%;
}
.menu__cards:hover i {
  color: white;
  transform: rotate(360deg);
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

#menu-layout {
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 40px 40px 0 0;
  display: inline-block;
  margin-top: -4em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#menu__header,
.menu__sections {
  padding: 0 1em;
}

#menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu__header .favorites {
  font-size: 1.7em;
  margin-right: 1em;
}
#menu__header .favorites .heart-outline {
  position: relative;
  color: black;
  transition: 150ms ease-out;
}
#menu__header .favorites .heart-full {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 150ms ease-out;
}
#menu__header .favorites i:hover {
  transform: scale(0.98);
  color: #FF79DA;
}
#menu__header .favorites i:hover .heart-full {
  transform: scale(1);
  display: inline;
  color: #FF79DA;
}

.menu__sections {
  position: relative;
  margin-bottom: 3em;
}

.title::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  top: 1.3em;
  background-color: rgb(185, 192, 185);
  position: absolute;
}

#restaurant-name {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.8em;
}

@media only screen and (min-width: 768px) {
  #menu-layout {
    width: 90%;
  }
  #menu-layout #menu__header,
  #menu-layout .menu__sections {
    padding: 0 3em;
  }
}
@media only screen and (min-width: 992px) {
  #menu-layout {
    max-width: 1400px;
  }
}

/*# sourceMappingURL=style.css.map */
