@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

#restaurants h2 {
  font-size: var.$headline2-size;
}

.restaurants {
  &__card {
    position: relative;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px;
    @include mix.drop-shadow;
    & img {
      width: 100%;
      aspect-ratio: 16/10;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
  &__info {
    display: flex;
    padding: 15px;
    line-height: 1.5;
    & .description {
      width: 80%;
      font-size: var.$cards-font-size;
      & .name {
        margin: 0;
        text-align: left;
      }
      & .city {
        text-align: left;
      }
    }
    & .favorites {
      width: 20%;
      height: 100%;
      font-size: 1.8em;
      line-height: 0;
      padding: 10px 0;
      vertical-align: middle;
      &:hover {
        content: "\f004";
      }
    }
  }
  &__new-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    border-radius: 3px;
    background-color: var.$color-tertiary;
    color: #449e88;
    font-size: 0.8em;
    font-weight: 500;
  }
}
