@use "./variables";

@mixin step-card {
  width: 100%;
  height: 72px;
  margin-bottom: 20px;
  display: flex;
  background-color: variables.$color-lightgrey;
  border-radius: 20px;
  align-items: center;
}

@mixin step-card-icon {
  margin-left: 12px;
  margin-right: 24px;
  font-size: 1.3em;
  color: grey;
}
